<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    {% if pagetitle == 'Community Table' %}
    <script src="../assets/js/index.js" defer></script>

    {% elseif pagetitle == 'Community Table | Volunteer' %}
    <script src="../assets/js/volunteer.js" defer></script>

    {% elseif pagetitle == 'Community Table | Staff' %}
    <script src="../assets/js/staff.js" defer></script>

    {% endif %}
    <script src="https://kit.fontawesome.com/2384b267e0.js" crossorigin="anonymous"></script>
    <title>{{ pagetitle }}</title>
</head>